:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --gap: 0.5em;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--light);
  background-color: var(--dark);
  font-size: 2.75vmin;
}

main {
  position: relative;
}

div.buttons {
  display: flex;
  justify-content: space-between;

  label {
    background-color: var(--dark);
    border: 1px outset var(--mid);
    border-radius: 0.25em;
    padding: 0.25em 1em;
    cursor: pointer;

    &:has(:checked) {
      border-style: inset;
      background-color: #000;
    }

    &[disabled] {
      opacity: 0.5;
      background-color: transparent;
      pointer-events: none;
      cursor: default;
    }

    input {
      position: absolute;
      left: -999vmax;
    }
  }
}

div#board {
  --size: 75vmin;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  border: 1px solid var(--mid);

  & div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & div:nth-child(8n+1),
  & div:nth-child(8n+3),
  & div:nth-child(8n+6),
  & div:nth-child(8n+8) {
    background-color: var(--mid);
  }

  & img {
    height: 95%;
    width: 95%;
    opacity: 1;

    &.coin {
      position: absolute;
      opacity: 1;
      transition: opacity 0.1s 0.1s;
    }

    &.fate {
      opacity: 0;

      &.chosen {
        opacity: 1;
      }
    }

    &.exit {
      opacity: 1;
      transition: opacity 0.1s 0.1s;
    }

    &.vanish {
      opacity: 0;
      transition: opacity 0.5s 1s;
    }

    &.remove {
      opacity: 0;
      transition: opacity 0.1s;
    }

    &.replace {
      transition: opacity 1s;
      opacity: 1;
    }
  }
}

#value {
  display: none;
}

button {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: inherit;
  padding: 0.25em 5em;
}

#controls {
  display: flex;

  position: absolute;
  width: 100%;
  bottom: -3.5em;
  right: 0;

  & button {
    position: relative;
    right: auto;
    flex: 1;
    padding: 0.25em 0;

    &.selected {
      border-style: inset;
      background-color: #000;
    }

    &#over {
      display: none;
      position: absolute;
      width: 100%;

      &.game-over {
        display: block;
      }
    }
  }
}

/* main div[id] is added to increase specificity */
main div[id] {
  & .primary {
    background-color: var(--primary);
    border-color: var(--primary-border);

    &:active:hover {
      background-color: var(--primary-active);
    }
  }

  & [disabled] {
    opacity: 0.5;
    background-color: transparent;
    pointer-events: none;
    cursor: default;
  }
}

#rules {
  --pad: 1.5em;
  position: absolute;
  top: 0;
  width: calc(100% - var(--pad) * 2);
  height: calc(100% - var(--pad) * 2);
  padding: var(--pad);
  background-color: #222e;
  border: 1px solid var(--mid);
  font-size: 2.5vmin;

  &.hide {
    display: none;
  }

  li p {
    margin: 0;
  }
}